@import './base.css';

#app {
    display: grid;
    padding: 0 2rem;
  }
body{
  padding-top: 30px;
}

.link{
  margin:10px;
  color:black;
}

.purpleButton {
  color: white;
  background-color: #756DD3;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.blackButton {
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}
