@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
body{
  padding-top: 30px;
}

.link{
  margin:10px;
  color:black;
}

.purpleButton {
  color: white;
  background-color: #756DD3;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}

.blackButton {
  color: white;
  background-color: #000000;
  border: none;
  border-radius: 10%;
  cursor: pointer;
}
